*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: auto;
    max-width: auto;
}
body{
    font-family: 'Inter';
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    background-color: #057858;
    color: white;
    padding: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
}
#btn{
    background-color: #DB2727;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: none;
}
#textButton{
    justify-content: center;
    align-items: center;
}
#logo{
    justify-self: flex-start;
}
#hautDePage{
    width: 100%;
}
.container {
    position: relative;
}
.container .text {
    background: none;
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 100%;
    font-size: 48px;
}
.text p{
    font-size: 28px;
}
h2{
    color: black;
    text-align: center;
    padding-top: 50px;
}
#box{
    width: 18%;
    height: 10%;
    display: flexbox;
    text-align: center;
    border: #E6E7E9 4px solid;
    border-radius: 8px;
    padding-bottom: 20px;
}
#boxDons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}
#box p{
    color: #727781;
}
#btnDons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}
.btnDons{
    padding: 10px;
    background-color: #F3F4F6;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}
#btn2{
    background-color: #DB2727;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: none;
    width: 60%;
    font-size: 16px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mission{
    background-color: #D1F9E7;
}
#photoMission{
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 140px;
    
}
#fondBlanc{
    background-color: white;
    width: 40%;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 55px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: flex-start;
    align-self: flex-start;
    margin-top: 25px;
    margin-right: 165px;
    
}
#fondBlanc p{
    color: #727781;
}
#diaporama{
    padding-left: 22%;
}
#quizz{
    background-color: #EDFEF6;
}
.flex2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.quizz{
    width: 70%;
    background-color: white;
    text-align: left;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.07);
    margin-bottom: 20px;
}
#reponse{
    background-color: #F3F4F6;
    border-radius: 8px;
    width: 50%;
    padding: 20px;
    gap: 20px;
}
.flex3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.flex4{
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-end;
}
.container .text2 {
    background: none;
    z-index: 1;
    position: absolute;
    text-align: left;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 60%;
    color: white;
    width: 100%;
    font-size: 14px;
    padding: 15px;
}
.texteGros{
    font-size: 20px;
}
span{
    font-size: smaller;
    font-weight: 200;
}
.container .text3 {
    background: none;
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 100%;
    font-size: 20px;
}
.center{
    text-align: center;
    justify-self: center;
}
#temoins{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.07);
    padding-bottom: 20px;
    border-radius: 8px;
}
.footer{
    background-color: #1F2937;
    color: white;
    padding: 20px;
    justify-content: space-evenly;
}
#coeur{
    vertical-align: middle;
}
#form{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.07);
    padding-bottom: 20px;
    border-radius: 8px;
    margin: 10%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input, select, textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    
}
label{
    color: #727781;
}
#btnsubmit{
    color: white;
    background-color: #08956A;
    width: 70%;
    border-radius: 8px;
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    color: red;
    font-size: 0.9em;
}

@media (max-width : 768px) {
    header .flex{
        flex-direction: column;
    }
    .container .text{
        font-size: clamp (24px, 2em, 48px);
    }
    
    
}